@using S25_rpg.Models.Models
@{
    ViewData["Title"] = "News";
}

<div class="font-size text-center pt-10">
    <div class="text-right">
        <button name="btRegister" class="btn btn-primary">@Html.ActionLink("Back to Town", "Index", "Town", null, new { @class = "white-link font-size" })</button>
        <button class="btn btn-primary">@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "white-link font-size" })</button>
    </div>
    <h1>News</h1>
    <div class="bg-info shadow-lg rounded wood-background">
        @{
            foreach (News n in ViewBag.News)
            {
                <div class="py-3 px-10">
                    <div class="bg-white shadow-lg rounded">
                        @n.Title<br />
                        <hr />
                        @n.Information<br />
                    </div>
                </div>
            }
        }
    </div>
</div>